body {
    font-family: 'Poppins';
}

.border-gradient {
    border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red) 1;
    border-image-slice: 1;
}

.font-poppins {
    font-family: 'Poppins';
}

.font-ss4 {
    font-family: 'Source Serif 4';

}

.glow-effect {
    box-shadow: 0 0 10px rgba(229, 135, 214, 0.8);
    /* Adjust the color and spread as needed */
    animation: glow 1s ease-in-out infinite alternate;
    /* Adjust the animation duration and timing function */
}

@keyframes glow {
    to {
        box-shadow: 0 0 20px rgba(216, 31, 194, 0.8);
        /* Adjust the color and spread as needed */
    }
}